<div class="container-fluid pb-5 pt-3">
  <div class="row row-buscar bg-light p-3 justify-content-center" id="row-buscar">
    <div class="col-auto">
      <div class="form-inline">
        <div class="form-group">
          <span class="logo"><i class="fas fa-search logo"></i></span>
          <input type="text" placeholder="Buscar" class="input_buscar">
          <a href="#"><span class="logo"><i class="fas fa-times-circle  logo" id="logo-close"></i></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-3 justify-content-between row-navbar">
    <div class="col-auto ">
      <button class="btn bg-transparent text-white btn-buscar" id="btn-buscar">
        <h5>
          <i class="fas fa-search"></i>
           ¿Qué necesitas?
        </h5>
      </button>
    </div>
    <div class="col-auto d-flex justify-content-end flex-wrap">
      <button class="btn btn-menu btn-success mr-3">Cotizar</button>
      <button class="btn btn-menu btn-light mr-3">Comprar</button>
    </div>
  </div>
  <div class="row p-3 justify-content-center row-navbar-cel">
    <div class="col-auto d-flex justify-content-center flex-wrap">
      <button class="btn btn-menu btn-success mr-3">Cotizar</button>
      <button class="btn btn-menu btn-light mr-3">Comprar</button>
    </div>
  </div>
  <div class="row justify-content-center row-img">
    <div class="col-auto">
      <img src="../../../assets/img/WHITE copia.png" class="m-5" style="width: 200px;">
    </div>
  </div>
  <div class="row row-text row-text-firt justify-content-center">
    <div class="col-auto">
      <div class="col-auto align-self-center">
        <h1><strong>Pide concreto premezclado en</strong></h1>
      </div>
    </div>
    <div class="col-auto">
      <div class="dropdown dropright">
        <a class="drop" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Arequipa <i class="fas fa-chevron-right" id="right"></i> <i class="fas fa-chevron-left" id="left"></i></a>

        <div class="dropdown-menu bg-transparent">
          <a class="dropdown-item hvr-underline-from-center" href="#">Lima</a>
          <a class="dropdown-item hvr-underline-from-center" href="#">Puno</a>
          <a class="dropdown-item hvr-underline-from-center" href="#">Juliaca</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-text row-text-second justify-content-center text-center">
    <div class="col-auto">
      <h2><strong>Tus proyectos son nuestros elige cual</strong></h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <a href="#"><img src=".././../../assets/img/concreto.png"class="img-botones ml-3" alt="" ></a>
      <a href="#"><img src=".././../../assets/img/prefabricados.png"class="img-botones ml-3" alt=""></a>
      <a href="#"><img src=".././../../assets/img/LABORATORIO1.png"class="img-botones ml-3" alt=""></a>
    </div>
  </div>
</div>

