<div class="container-fluid text-white">
  <div class="row row-footer-pc">
    <div class="col-12 col-md-3 text-center">
      <img src="../../../assets/img/WHITE copia.png" class="mb-3">
    </div>
    <div class="col-4 col-md-3">
      <div class="div-text">
        <h5 class="text-muted mb-4">PRODUCTOS</h5>
      <a href="#"><h6 class="mb-3">Concreto Premezclado</h6></a>
      <a href="#"><h6 class="mb-3">Prefabricados de Concreto</h6></a>
      <a href="#"><h6 class="mb-3">Laboratorio de Suelos y concreto</h6></a>
      </div>
      <div class="div-text-cel">
        <h6 class="text-muted mb-4">PRODUCTOS</h6>
      <a href="#"><p class="mb-3">Concreto Premezclado</p></a>
      <a href="#"><p class="mb-3">Prefabricados de Concreto</p></a>
      <a href="#"><p class="mb-3">Laboratorio de Suelos y concreto</p></a>
      </div>
    </div>
    <div class="col-4 col-md-3">
      <div class="div-text">
        <h5 class="text-muted mb-4">SERVICIOS</h5>
        <a href="#"><h6 class="mb-3">Control y Calidad</h6></a>
        <a href="#"><h6 class="mb-3">Bombeado de concreto</h6></a>
      </div>
      <div class="div-text-cel">
        <h6 class="text-muted mb-4">SERVICIOS</h6>
        <a href="#"><p class="mb-3">Control y Calidad</p></a>
        <a href="#"><p class="mb-3">Bombeado de concreto</p></a>
      </div>
    </div>
    <div class="col-4 col-md-3">
      <div class="div-text">
        <h5 class="text-muted mb-4">ENLACES</h5>
        <a href="#"><h6 class="mb-3">Políticas de Compañia</h6></a>
        <a href="#"><h6 class="mb-3">Alcance del sistema de Gestión Integrado</h6></a>
        <a href="#"><h6 class="mb-3">Brochure Corporativo</h6></a>
        <a href="#"><h6 class="mb-3">Catálogo de productos</h6></a>
        <a href="#"><h6 class="mb-3">Buzón de Sugerencias</h6></a>
        <a href="#"><h6 class="mb-3">Responsabilidad Social</h6></a>
        <a href="#"><h6 class="mb-3">Términos y condiciones</h6></a>
      </div>
      <div class="div-text-cel">
        <h6 class="text-muted mb-4">ENLACES</h6>
        <a href="#"><p class="mb-3">Políticas de Compañia</p></a>
        <a href="#"><p class="mb-3">Alcance del sistema de Gestión Integrado</p></a>
        <a href="#"><p class="mb-3">Brochure Corporativo</p></a>
        <a href="#"><p class="mb-3">Catálogo de productos</p></a>
        <a href="#"><p class="mb-3">Buzón de Sugerencias</p></a>
        <a href="#"><p class="mb-3">Responsabilidad Social</p></a>
        <a href="#"><p class="mb-3">Términos y condiciones</p></a>
      </div>
    </div>
  </div>

</div>
