<div class="container">
  <div class="row justify-content-center row-body-header text-center">
    <div class="col-auto col-text-pc">
      <h1><strong>Lo que necesitas para tu proyecto</strong></h1>
      <h4 class="text-muted">Brindamos soluciones fáciles y eficaces sin complicaciones</h4>
    </div>
    <div class="col-auto col-text-cel">
      <h3><strong>Lo que necesitas para tu proyecto</strong></h3>
      <h6 class="text-muted">Brindamos soluciones fáciles y eficaces sin complicaciones</h6>
    </div>
  </div>
</div>

<div class="container-fluid bg-secondary">
  <div class="row row-img">
    <div class="col-12 col-md-6">
      <img src="../../../assets/img/isos1.jpg" class="w-100">
    </div>
    <div class="col-12 col-md-6 text-center text-white">
      <h1><strong>Lo mas importante es la calidad</strong></h1>
      <h3>Contamos con ISO 9001 e ISO 14001</h3>
      <button class="btn btn-success">Más Información</button>
    </div>
  </div>
</div>
