.row-body-header{
  margin-top: -20px;
}

.body-img{
  margin-top: 80px;
}

.col-text-cel{
  display: none;
}

@media screen and (max-width: 600px){
  .col-text-cel{
    display: block;
  }
  .col-text-pc{
    display: none;
  }
}
